body {
  margin: 0;
  padding: 0;
}

.supercontainer {
  display: flex;
  flex-direction: column;
}

.box5{
  height: 50dvh;
  width: 100%;
}

.productline2{
  height:75%;

}
.productline2 > h2{
  text-align: center;
}
