body {
  margin: 0;
  padding: 0;
}

.supercontainer {
  display: flex;
  flex-direction: column;
}

.box5{
  height: 50dvh;
  width: 100%;
}

.productline2{
  height:75%;

}
.productline2 > h2{
  text-align: center;
}
.butt{
  background-color: rgb(99, 168, 224);
  border-radius: 5px;
  padding: 6px;
  border: 1px;
}
.butt:hover{
  cursor: pointer;
}
.photo {
  /* Properly formatted transition: property | duration | timing */
  transition: opacity 0.3s ease-in-out;
  
  /* Use object-fit or background-size instead of fit-content */
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;

  height: 56%;
  width: 100%;
  opacity: 1; /* Fully visible by default */
  padding: 1px;
}

.photo:hover {
  /* This creates the 'fade off' effect */
  opacity: 0; /* Change to 0.5 if you want it to just go dim */
}