@font-face {
  font-family: 'SN Pro';
  src: url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap') format('woff2');
  font-weight: 200 900; /* Supports range if it's a variable font */
  font-style: normal;
}


.button {
    font-family: "SN Pro", sans-serif;
    font-size: 25px;
    color:white;
    border-radius: 50%;
    opacity: 0;
    transform:scale(0.5);
    transition: 
        background-color 0.2s ease, 
        opacity 0.3s ease, 
        transform 0.3s ease;
    border-style: none;
    background-color: rgb(171, 177, 180);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.Carousel-Wrapper {
    position: relative; /* Anchor for the buttons */
    width: 100vh;
    padding: 0 40px; /* Space for buttons on the sides */
}

.Carousel-Window {
    overflow: hidden;
    width: 100vh;
}

.Carousel-Track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.sample {
    width:100%;
    border: 1px white solid;
}

.productline:hover .button {
    opacity: 1;
    transform:scale(1);
}

.button:hover {
    background-color: #0017db;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.productline {
    width: 50%;
    height: 50%;
}