@font-face {
    font-family: 'SN Pro';
    src: url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap') format('woff2');
    font-weight: 200 900;
    /* Supports range if it's a variable font */
    font-style: normal;
}


/* .button {
    font-family: "SN Pro", sans-serif;
    font-size: 25px;
    color: white;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.5);
    transition:
        background-color 0.2s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    border-style: none;
    background-color: rgb(171, 177, 180);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    z-index: 10;
} */
.swiper-wrapper {
    width: inherit;
    height: 100%;
}

.swiper-slide {
    height: inherit;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    object-fit: fill;
}

.swiper {
    width: 25%;
    height: 75%;
    margin: 0;
    padding-right: 5%;
    align-self: center;
    --swiper-navigation-sides-offset: 10%;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 1;
    color: #000000;
    z-index: 10;
    transform: scale(0.5);
    transition:
        background-color 0.2s ease, 
        opacity 0.3s ease,
        transform 0.3s ease;
    background-color: rgb(171, 177, 180);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 50%;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    /* Shrink the icon so it fits comfortably (usually 30-40% of the circle) */
    width: 35% !important; 
    height: auto !important;
    
    /* Reset Swiper's default absolute positioning */
    position: static !important;
    
    /* Ensure the color is inherited from your button's 'color' property */
    fill: currentColor;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(117, 117, 117);
}

.productline:hover .button {
    opacity: 1;
    transform: scale(1);
}

.swiper-button-next:hover {
    opacity: 1;
    transform: scale(0.7);
    color: white;
    background-color: #242741;
    cursor: pointer;
}

.swiper-navigation-icon {
    width:30px;
    height:30px;
}

.swiper-button-prev:hover {
    opacity: 1;
    transform: scale(0.7);
    color: white;
    background-color: #242741;
    cursor: pointer;
}