header {
    display: flex;
    flex-direction: column;
}

.headertop {
    background: linear-gradient(0deg,rgb(1,48,63) 0%, rgb(2,87,122) 50%, rgb(2,169,247) 100%);
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top:2rem;
    padding-bottom: 2rem;
    gap:5rem;
}

.headerbottom-container {
    background: linear-gradient(90deg,rgb(2,169,247) 0%, rgb(2,87,122) 25%, 	rgb(1,48,63) 50%,rgb(2,87,122) 75%, rgb(2,169,247) 100%);
    padding-top:2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:50%;
}

img {
    width: 300px;
    height:75px;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin:0;
    width: 100%;
}

.navbar-list > li > a {
    text-decoration: none;
    color:white;
    size:20px;
    font-weight: 300;
    padding-left: 2rem;
    padding-right: 2rem;
}