.productline {
    display: flex;
    flex-direction: row;
    flex: 0 0 calc(100% / 6); 
    position: relative;
    width: 75%;
    height: 40vh;
    background-color: #000000;
    justify-content: space-between;
    margin: 2% 10% 3% 10%;
    padding:1% 1% 1% 1%;
    border-radius: 10px;
}
.title{
    color: white;
}

.feature-titi{
    width: 30%;
}
.button {
    border-radius:5px ;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10%;
    background: linear-gradient(90deg,rgb(0, 158, 211) 0%, rgb(0, 144, 192) 50%, rgb(0, 140, 187) 100%);
    cursor: pointer;
}