.productline {
    /* (100% divided by 6 items) */
    flex: 0 0 calc(100% / 6); 
    position: relative;
    width: 75%;
    height: 40vh;
    background-color: #000000;
}
.title{
    color: white;
}